

.wholeWrapper {
     display: flex;
     align-items: center;
     justify-content: space-evenly;

     width: 100vw;
}

.fragenWrapper{
     display: flex;

     flex-direction: column;
     justify-content: center;
     align-items: center;
}
